.list {
  list-style: none;
}

.list li {
  background-color: deepskyblue;
  display: inline-block;
  border-radius: 10px;
  color: white;
  padding: 5px;
  margin: 5px;
}

.caption {
  background-color: #dcdcdc;
  color: black;
}

.shadow1 {
  box-shadow: 8px 11px 22px -6px;
}

.box {
  background-color: gainsboro;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
}

.col1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.white {
  color: white;
}

.nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.btn {
  width: 10em;
  background: green;
}
.bluebutton {
  background: deepskyblue;
  border-radius: 10px;
  text-align: center;
}

.bluebutton:hover {
  background: grey;
}
